$color-blue: #6772e5;
$color-bg: #eef1fb;
$color-shadow: #cacdd5;
$color-white: #ffffff;
$color-input: #696969;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 500px;
  max-height: 900px;
  width: 100vw;
  font-family: "Open sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-blue;
  background: $color-bg;
}
body,
p,
input,
select,
textarea,
button {
  font-family: "Open sans", sans-serif;
}

.login-div {
  min-width: 310px;
  max-width: 480px;
  min-height: 500px;
  max-height: 850px;
  display: grid;
  grid-template-columns: minmax(30rem, 42rem);
  grid-template-rows: minmax(2rem, 4rem) max-content max-content max-content max-content max-content max-content minmax(
      1rem,
      20rem
    );
  padding: 30px;
  border-radius: 2rem;
  background: $color-bg;
  box-shadow: 20px 20px 35px $color-shadow, -20px -20px 35px $color-white;
}

.logo {
  width: 80px;
  height: 80px;
  background: url("img/logo-white.png");
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 5px 5px 20px $color-shadow, -5px -5px 20px $color-white;
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}

.fields {
  width: 100%;
  padding: 50px 0 30px 0;
  input {
    width: 83%;
    border: none;
    outline: none;
    background: none;
    color: $color-input;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0 20px 0;
    text-shadow: 1px 1px 0 $color-white;
  }
  .svg-icon {
    height: 22px;
  }
  .email-icon {
    margin: 0 0 -5px 20px;
  }
  .password-icon {
    margin: 0 0 -3px 20px;
  }

  .username,
  .password {
    outline: none;
    margin-bottom: 15px;
    border-radius: 25px;
    background: $color-bg;
    border: 2px solid $color-bg;
    box-shadow: inset 4px 4px 8px $color-shadow,
      inset -4px -4px 8px $color-white;
    &:focus-within {
      border: 1px solid $color-blue;
    }
  }
  .password {
    margin-bottom: 10px;
  }
}

.remember-me {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: $color-bg;
    box-shadow: 3px 3px 5px $color-shadow, -3px -3px 5px $color-white;
    border-radius: 4px;
  }

  // Box hover
  &:hover + label:before {
    background: $color-blue;
  }

  // Box focus
  &:focus + label:before {
    background: $color-blue;
    box-shadow: 3px 3px 5px $color-shadow, -3px -3px 5px $color-white;
  }

  // Box checked
  &:checked + label:before {
    background: $color-blue;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.login-button {
  margin: 20px 10px 0px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 95%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: $color-blue;
  text-align: center;
  background: $color-bg;
  border: 1px solid $color-bg;
  box-shadow: 5px 5px 20px $color-shadow, -5px -5px 20px $color-white;
  transition: 0.2s;
  &:hover {
    /* box-shadow: -2px -2px 5px $color-shadow, 2px 2px 5px $color-white; */
    border: 1px solid $color-blue;
  }

  &:focus {
    border: 1px solid $color-bg;
  }

  &:active {
    border: 1px solid $color-bg;
    box-shadow: inset 4px 4px 8px $color-shadow,
      inset -4px -4px 8px $color-white;
  }
}

.forgot-pass-div {
  outline: none;
  border: none;
  margin-top: 10px;
  text-align: right;
  color: $color-input;
  font-size: 1.3rem;
  font-weight: 400;
}

.forgot-password {
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: $color-blue;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: $color-blue;
    text-decoration: underline;
  }
  &:focus {
    border: 2px solid $color-white;
    color: $color-blue;
  }
  &:active {
    border: none;
    color: $color-blue;
  }
}

.sign-up-link {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  color: #3b3b3b;
  a {
    color: $color-blue;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      color: $color-blue;
      text-decoration: underline;
    }
    &:focus {
      border: 2px solid $color-white;
      color: $color-blue;
    }
    &:active {
      border: none;
      color: $color-blue;
    }
  }
}
